:root {
    --footer: #6096B4;
    --font-sm: 14px;
    --font-md: 24px;
    --font-bg: 32px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    margin: 0 100px;
    max-width: 1000px;
    padding: 100px 0px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                  Navbar                                    */
/* ////////////////////////////////////////////////////////////////////////// */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100px;
    padding: 0 50px;
    transition: top 0.3s ease;
    background-color: #6096B4;
}

.navbar-on {
    top: 0px;
}

.navbar-off {
    top: -100px;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    margin-left: 50px;
    list-style: decimal-leading-zero;
}

#navbar ul .li-button {
    list-style: none;
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                  Hero                                      */
/* ////////////////////////////////////////////////////////////////////////// */

#hero {
    background-color: wheat;
    height: 100vh;
}

#hero h1 {
    margin: 0px 0px 30px 4px;
    font-size: clamp(14px, 5vw, 16px);
    font-weight: 400;
    padding-top: 100px;
}

#hero h2,
h3 {
    margin: 0px;
    font-size: clamp(40px, 8vw, 80px);
}

#hero p {
    margin: 20px 0px 0px;
    max-width: 540px;
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                  About                                     */
/* ////////////////////////////////////////////////////////////////////////// */

#about .about-container {
    display: flex;
    gap: 25px;
}

#about .grid-tech{
    margin-top: 15px;
}

#about .about-tech {
    display: flex;
}

#about  p {
    max-width: 500px;
    margin-bottom: 10px;
}

#about .about-tech li{
    margin-left: 20px;
    margin-right: 20px;
}
/* ////////////////////////////////////////////////////////////////////////// */
/*                                  Featured                                  */
/* ////////////////////////////////////////////////////////////////////////// */
#featured .featured-container{
    display: flex;
}

#featured .featured-menu {
    background-color: aquamarine;
    max-width: 300px;
}
#featured .featured-preview {
    background-color: blueviolet;
    max-width: 700px;
    max-height: 450px;

}
#featured ul {
    padding: 20px;
}
#featured li {
    margin-bottom: 10px;
}
#featured img{
    background-color: blueviolet;
    max-width: 700px;
    max-height: 450px;
}

.featured-preview {
    display: inline-block;
    position: relative;
}
.featured-preview-description {
    position: absolute;
    text-align: right;
    bottom: 20px;
    right: 0px;
    font-size: 14px;
    color: white;
    text-shadow: 0px 0px 5px black;
    max-width: 500px;
    background-color: #6096B4;
}

.featured-preview-description p {
    padding: 20px 20px 0px 20px;
}

.featured-preview-description ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    right: 0;
}

.featured-preview-description li {
    padding-left: 20px;
}

.featured-preview-buttons {
    padding: 0px 20px 20px 20px;
}

.featured-preview-buttons button {
    margin-left: 20px;
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                  projects                                  */
/* ////////////////////////////////////////////////////////////////////////// */
#projects .title-projects {
    text-align: center;
    margin-bottom: 50px;
}

#projects .cards-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

#projects .card {
    margin: 10px;
    max-width: 300px;
    max-height: 300px;
    background-color: coral;
}

#projects .card-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#projects .card-buttons button {
    margin-left: 10px;
}

#projects .card-content {
    margin: 0px 10px 10px 10px;
}

#projects .card-content h1 {
    padding-bottom: 10px;
}

#projects .card-tools ul {
    display: flex;
    margin: 10px;
}

#projects .card-tools ul li {
    list-style: none;
    padding-right: 10px;
}

#projects .more-button {
    text-align: center;
    margin-top: 50px;
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                  Contact                                   */
/* ////////////////////////////////////////////////////////////////////////// */

#contact {
    display: flex;
    text-align: center;
    max-width: 600px;
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                  Footer                                    */
/* ////////////////////////////////////////////////////////////////////////// */

footer {
    max-height: 100px;
    text-align: center;
    background-color: var(--footer);
    padding: 25px;
}

.left-contact-box {
    position: fixed;
    width: 45px;
    height: 340px;
    background-color: var(--footer);
    bottom: 0;
    left: 20px;
}

.right-contact-box {
    position: fixed;
    width: 45px;
    height: 340px;
    background-color: var(--footer);
    bottom: 0;
    right: 20px;
}