:root {
    --color-one: #0a192f;
    --color-two: #112240;

    --white: #e6f1ff;
    --green: #64ffda;
    --blue: #57cbff;

    --gray: #8892b0;
    --light-gray: #a8b2d1;
    --lightest-gray: #ccd6f6;

    --fonte-one: 'Fira Code', monospace;
    --font-two: 'Inter var', sans-serif;
    --font-sm: 14px;
    --font-md: 24px;
    --font-bg: 32px;
}

body {
    background-color: var(--color-one);
    color: var(--gray);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    margin: 0 100px;
    max-width: 1000px;
    padding: 100px 0px;
}

button {
    font-family: var(--fonte-one);
    color: var(--white);
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    color: var(--green);
    background-color: var(--color-two);
}

button:active {
    color: var(--blue);
    border-color: var(--blue);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                  Navbar                                    */
/* ////////////////////////////////////////////////////////////////////////// */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100px;
    padding: 0 50px;
    transition: top 0.3s ease;
    background-color: var(--color-one);
    font-family: var(--fonte-one);
    box-shadow: 0 1px 5px rgba(2, 12, 27, 0.7);
}

.navbar-on {
    top: 0px;
}

.navbar-off {
    top: -100px;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: var(--font-sm);
    color: var(--lightest-gray);
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    color: var(--green);
    cursor: pointer;
}

#navbar a:active {
    color: var(--blue);
    border-color: var(--blue);
}

#navbar li {
    padding: 12px 16px;
}

#navbar button {
    padding: 12px 16px;
    margin-left: 12px;
    color: var(--green);
    border: 1px solid var(--green);
}


#navbar button:active {
    color: var(--blue);
    border: 1px solid var(--blue);
}
/* ////////////////////////////////////////////////////////////////////////// */
/*                                  Hero                                      */
/* ////////////////////////////////////////////////////////////////////////// */

#hero {
    height: 100vh;
    width: 100%;
}

#hero h1 {
    margin: 0px 0px 30px 4px;
    font-size: clamp(14px, 5vw, 16px);
    font-weight: 400;
    padding-top: 100px;
    font-family: var(--fonte-one);
    color: var(--green);
}

#hero h2,
h3 {
    margin: 0px;
    padding: 0px;
    font-size: clamp(40px, 8vw, 80px);
    font-family: var(--font-two);
}

#hero h3 {
    padding: 0px;
    color: var(--lightest-gray);
    font-size: clamp(40px, 5vw, 60px);
}

#hero p {
    margin: 20px 0px 0px;
    max-width: 540px;
    font-family: var(--font-two);
    color: var(--light-gray);
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                         Title with a horizontal line                       */
/* ////////////////////////////////////////////////////////////////////////// */

.horizontal-line-title {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    color: var(--lightest-gray);
}

.horizontal-line-title h1 {
    margin-right: 20px;
}

.horizontal-line-title div {
    flex-grow: 1;
    height: 1px;
    background-color: var(--gray);
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                  About                                     */
/* ////////////////////////////////////////////////////////////////////////// */

#about {
    font-family: var(--font-two);
}

#about .about-container {
    display: flex;
    gap: 25px;
}

#about img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
}

#about .grid-tech {
    margin-top: 15px;
    max-width: 400px;
    font-family: var(--fonte-one);
}

#about .about-tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    row-gap: 10px;
}

#about p {
    max-width: 500px;
    margin-bottom: 10px;
}

#about .about-tech li {
    margin-left: 20px;
    margin-right: 10px;
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                  Featured                                  */
/* ////////////////////////////////////////////////////////////////////////// */
#featured {
    font-family: var(--font-two);
}

.featured-container {
    display: flex;
}

.featured-menu {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.featured-menu button {
    padding: 10px;
    width: 100%;
    border-left: 2px solid;
    border-radius: 0px;
    border-color: var(--gray);
}

.featured-menu button:focus {
    background-color: var(--color-two);
    border-color: var(--green);
}

.featured-preview {
    max-width: 700px;
}

.featured-preview {
    display: inline-block;
    position: relative;
}

.featured-preview img {
    max-width: 100%;
    height: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.featured-preview-description {
    position: absolute;
    text-align: right;
    bottom: 30px;
    right: 20px;
    font-size: 14px;
    color: var(--white);
    text-shadow: 0px 0px 5px black;
    max-width: 500px;
    background-color: var(--color-two);
    border-radius: 4px;
    padding: 20px 20px;
}

.featured-preview-description ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    right: 0;
}

.featured-preview-description li {
    margin: 20px 0;
    padding-left: 20px;
    font-family: var(--fonte-one);
    font-size: smaller;
}

.featured-preview-buttons button {
    margin-left: 20px;
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                  projects                                  */
/* ////////////////////////////////////////////////////////////////////////// */
#projects {
    font-family: var(--font-two);
}

#projects .title-projects {
    text-align: center;
    margin-bottom: 50px;
}

#projects .title-projects h1 {
    color: var(--light-gray);
}

#projects .title-projects p {
    font-family: var(--fonte-one);
    margin: 10px 0px 20px 0px;
    font-size: var(--font-sm);
    color: var(--green);
}

#projects .cards-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#projects .card {
    margin: 5px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 4px;
    background-color: var(--color-two);
    box-shadow: 0 1px 5px rgba(2, 12, 27, 0.7);
    padding: 10px;
}

#projects .card-buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;

}

#projects .card-buttons button {
    margin-left: 10px;
}

#projects .card-content {
    margin: 10px 10px 10px 10px;
}

#projects .card-content h1 {
    padding-bottom: 10px;
    color: var(--lightest-gray);
}

#projects .card-content p {
    color: var(--light-gray);
}

#projects .card-tools ul {
    display: flex;
    margin: 20px 20px 20px 10px;
    font-family: var(--fonte-one);
    font-size: var(--font-sm);
}

#projects .card-tools ul li {
    list-style: none;
    padding-right: 10px;
}

#projects .more-button {
    text-align: center;

}

#projects .more-button button {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px 30px;
    color: var(--green);
    border: 1px solid var(--green);
}

#projects .more-button button:hover {
    background-color: var(--color-two);
}

#projects .more-button button:active {
    color: var(--blue);
    border: 1px solid var(--blue);
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                  Contact                                   */
/* ////////////////////////////////////////////////////////////////////////// */

#contact {
    display: flex;
    text-align: center;
    max-width: 600px;
    font-family: var(--font-two);
}

#contact .subTitle {
    font-family: var(--fonte-one);
    font-size: var(--font-sm);
    color: var(--green);
}

#contact h1 {
    margin: 20px 0px 10px 0px;
    font-size: clamp(40px, 5vw, 60px);
    color: var(--lightest-gray);
}

#contact button {
    margin-top: 50px;
    padding: 20px 30px;
    color: var(--green);
    border: 1px solid var(--green);
}

#contact button:hover {
    background-color: var(--color-two);
}

#contact button:active {
    color: var(--blue);
    border: 1px solid var(--blue);
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                  Footer                                    */
/* ////////////////////////////////////////////////////////////////////////// */

footer {
    margin-top: 100px;
    height: 100px;
    text-align: center;
    padding: 25px;
    font-family: var(--fonte-one);
    font-size: var(--font-sm);
}

.left-contact-box {
    position: fixed;
    width: 45px;
    height: 325px;
    bottom: 0;
    left: 20px;
}

.right-contact-box {
    position: fixed;
    width: 45px;
    height: 325px;
    bottom: 0;
    right: 20px;
}

.footer-container button {
    width: 100%;
    height: 50px;
}

.email-box {
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    margin-top: 15px;
    margin-left: 5px;
}

.email-box a {
    text-decoration: none;
    color: inherit;
}

.vertical-line {
    position: fixed;
    background-color: var(--lightest-gray);
    width: 2px;
    height: 100px;
    bottom: 0;
}

.left-line {
    left: 40px;
}

.right-line {
    right: 40px;
}


/* ////////////////////////////////////////////////////////////////////////// */
/*                                  scrollbar                                 */
/* ////////////////////////////////////////////////////////////////////////// */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 4px;
}